# Out-of-tree module Kconfig entry point (referenced by zephyr/module.yml
# build.kconfig = "Kconfig").  Sources the AST2050 driver Kconfig fragments.
# SPDX-License-Identifier: Apache-2.0

rsource "drivers/gpio/Kconfig"
rsource "drivers/i2c/Kconfig"
rsource "drivers/watchdog/Kconfig"
rsource "drivers/sensor/w83795/Kconfig"
rsource "drivers/sensor/sbtsi/Kconfig"
